<div class="header">
  <div class="container" ng-controller="HeaderController">
    <div class="row">
      <div class="n-med-title-light col-lg-3 col-md-5">Nexus Logica</div>
      <div class="col-lg-5 col-md-5">
        <ul class="nav nav-pills">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              Go to...
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
              <li><a tabindex="-1" href="#" ng-click="toMain()">Welcome</a></li>
              <li><a tabindex="-1" href="#" ng-click="toWorkbench()">Workbench</a></li>
              <li class="divider"></li>
              <li><a tabindex="-1" href="#" ng-click="toAdministration()">Administration</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>