input::-webkit-input-placeholder {
  color: #dddddd; }

input:-moz-placeholder {
  color: #dddddd; }

input::-moz-placeholder {
  color: #dddddd; }

input:-ms-input-placeholder {
  color: #dddddd; }

.n-large-title, .n-large-title-light {
  font-weight: 100;
  font-size: 30px;
  font-family: "Raleway", sans-serif;
  color: #294052;
  font-size: 40px;
  color: #153450; }

.n-large-title-light {
  color: #fffefd; }

.n-med-title, .n-med-title-light {
  font-weight: 100;
  font-size: 30px;
  font-family: "Raleway", sans-serif;
  color: #294052;
  font-size: 30px;
  color: #153450; }

.n-med-title-light {
  color: #fffefd; }

.n-small-title {
  font-weight: 100;
  font-size: 30px;
  font-family: "Raleway", sans-serif;
  color: #294052;
  font-size: 20px;
  padding-bottom: 20px; }

ul::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 11px;
  height: 11px;
  background-color: #f8f8f8; }

ul::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid white;
  background-color: #c1d5e3; }

.form-vertical input {
  display: block; }

body {
  background-color: #fffefd; }

.n-component {
  background-color: #fefbf7;
  margin-top: 20px;
  border: #f4d6bc 1px solid;
  border-radius: 5px;
  padding-top: 20px; }

.n-alert {
  display: none;
  width: 400px;
  background-color: #fdf8f2;
  border-color: #447294;
  -webkit-box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2); }

textarea {
  margin-top: 20px; }

.header {
  padding: 15px 0px 15px 0px;
  background-color: #294052; }

.header .n-med-title-light {
  margin-top: 7px; }

.header .dropdown-toggle {
  color: #8fbcdb; }

.header .nav {
  margin: 0px 0px 0px 0px; }

.wave-container {
  margin-top: 20px; }

.waveform-search {
  height: 600px; }

.waveform-search .well {
  height: 600px;
  margin: 0px;
  padding: 0px;
  border-style: none;
  border-width: 0px;
  background-color: transparent;
  -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.05); }

.wave-list-container {
  background-color: #fffdfc;
  padding: 5px 20px 0px 20px;
  margin-top: 20px;
  margin-left: 44px;
  border-radius: 5px;
  height: 532px; }

.wave-list-header-name, .wave-list-header-date {
  font-weight: bold; }

.wave-list {
  margin-left: 0px;
  height: 485px;
  overflow: hidden;
  overflow-y: auto; }

.wave-list-item, .wave-list-header {
  list-style-type: none;
  padding: 4px 0px 4px 0px;
  border-bottom: solid 1px gainsboro;
  white-space: nowrap;
  overflow: hidden; }

.wave-list-header {
  border-bottom: 2px solid #fafafa; }

.wave-list-item:hover {
  background-color: #fefbf7;
  cursor: pointer; }

.wave-list-name, .wave-list-date, .wave-list-header-name, .wave-list-header-date {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.wave-list-name, .wave-list-header-name {
  width: 430px; }

.waveform-search-top-left {
  margin-left: 50px; }

.waveform-search-top-left div {
  display: inline-block; }

.waveform-search-top-left .n-med-title, .waveform-search-top-left .n-med-title-light {
  vertical-align: middle; }

.waveform-search-top-left .wave-search-box-container {
  margin-left: 17px; }

.waveform-search-box {
  margin-left: 100px; }

.waveform-search-refresh-container {
  margin-left: 91px; }

.wave-item-selected {
  font-weight: bold;
  background-color: #fbefe0; }

.wave-item-selected:hover {
  background-color: #fbefe0; }
