$thin : 100
$font-size-large: 40px
$font-size-med: 30px
$font-size-avg: 20px
$font-size-text: 16px
$font-size-small: 12px
$helv-font: 'Raleway', sans-serif
$text-color-light: #cccccc

$color-darkest: #153450
$color-dark: #294052
$color-med-dark: #447294
$color-med: #8FBCDB
$color-light: #F4D6BC
$color-lightest: #F8E4CC
//$color-space: #F8F2EA
$color-space: lighten($color-lightest, 10%)
$color-body: lighten($color-lightest, 11%)
$color-gray: #DCDCDC // Gainsboro
$color-light-gray: lighten($color-gray, 11%)

$placeholder-color: #DDD

input::-webkit-input-placeholder
  color: $placeholder-color

input:-moz-placeholder
  color: $placeholder-color

input::-moz-placeholder
  color: $placeholder-color

input:-ms-input-placeholder
  color: $placeholder-color

$padding-med: 20px

@mixin title-base
  font-weight: $thin
  font-size: $font-size-med
  font-family: $helv-font
  color: $color-dark

.n-large-title
  @include title-base
  font-size: $font-size-large
  color: $color-darkest

.n-large-title-light
  @extend .n-large-title
  color: $color-body

.n-med-title
  @include title-base
  font-size: $font-size-med
  color: $color-darkest

.n-med-title-light
  @extend .n-med-title
  color: $color-body

.n-small-title
  @include title-base
  font-size: $font-size-avg
  padding-bottom: $padding-med

//*****************************
// Scrollbars in webkit on OS-X. They disappear...
ul::-webkit-scrollbar
  -webkit-appearance: none
  width: 11px
  height: 11px
  background-color: $color-light-gray

ul::-webkit-scrollbar-thumb
  border-radius: 8px
  border: 2px solid white /* should match background, can't be transparent */
  background-color: lighten($color-med-dark, 40%)

//******************************
// Inputs
.form-vertical input
  display: block

//******************************
// Page
body
  background-color: $color-body

.n-component
  background-color: $color-space
  margin-top: $padding-med
  border: $color-light 1px solid
  border-radius: 5px
  padding-top: $padding-med

textarea
  margin-top: $padding-med

//******************************
// Header

.header
  padding: 15px 0px 15px 0px
  background-color: $color-dark

.header .n-med-title-light
  margin-top: 7px

.header .dropdown-toggle
  color: $color-med

.header .nav
  margin: 0px 0px 0px 0px

//******************************
// Waveform editor

.wave-container
  margin-top: $padding-med

//******************************
// Waveform search

.waveform-search
  height: 600px
  
.wave-list-container
  background-color: lighten($color-space, 0.4%)
  padding: 5px 20px 0px 20px
  margin-top: 20px
  border-radius: 5px
  height: 532px

.wave-list-header-name, .wave-list-header-date
  font-weight: bold

.wave-list
  margin-left: 0px
  height: 485px
  overflow: hidden
  overflow-y: auto

.wave-list-item, .wave-list-header
  list-style-type: none
  padding: 4px 0px 4px 0px
  border-bottom: solid 1px $color-gray
  white-space: nowrap
  overflow: hidden

.wave-list-header
  border-bottom: 2px solid #FAFAFA
  
.wave-list-item:hover
  background-color: lighten($color-space, 0.05%)
  
.wave-list-name, .wave-list-date, .wave-list-header-name, .wave-list-header-date
  display: inline-block
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

.wave-list-name, .wave-list-header-name
  width: 330px  

.waveform-search-box
  margin-left: 100px
