$thin: 100;
$font-size-large: 40px;
$font-size-med: 30px;
$font-size-avg: 20px;
$font-size-text: 16px;
$font-size-small: 12px;
$helv-font: "Raleway", sans-serif;
$text-color-light: #cccccc;

$color-darkest: #153450;
$color-dark: #294052;
$color-med-dark: #447294;
$color-med: #8fbcdb;
$color-light: #f4d6bc;
$color-lightest: #f8e4cc;

//$color-space: #F8F2EA
$color-space: lighten($color-lightest, 9.5%);
$color-body: lighten($color-lightest, 11%);
$color-gray: gainsboro;
$color-light-gray: lighten($color-gray, 11%);
$color-dialog: lighten($color-lightest, 8.5%);

$drop-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2);

$placeholder-color: #dddddd;

input::-webkit-input-placeholder {
  color: $placeholder-color;
}

input:-moz-placeholder {
  color: $placeholder-color;
}

input::-moz-placeholder {
  color: $placeholder-color;
}

input:-ms-input-placeholder {
  color: $placeholder-color;
}

$padding-med: 20px;

@mixin title-base {
  font-weight: $thin;
  font-size: $font-size-med;
  font-family: $helv-font;
  color: $color-dark;
}

.n-large-title {
  @include title-base;
  font-size: $font-size-large;
  color: $color-darkest;
}

.n-large-title-light {
  @extend .n-large-title;
  color: $color-body;
}

.n-med-title {
  @include title-base;
  font-size: $font-size-med;
  color: $color-darkest;
}

.n-med-title-light {
  @extend .n-med-title;
  color: $color-body;
}

.n-small-title {
  @include title-base;
  font-size: $font-size-avg;
  padding-bottom: $padding-med;
}

//****************************
// Scrollbars in webkit on OS-X. They disappear...
ul::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 11px;
  height: 11px;
  background-color: $color-light-gray;
}

ul::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid white;
  background-color: lighten($color-med-dark, 40%);
}

//*****************************
// Inputs
.form-vertical input {
  display: block;
}

//*****************************
// Page
body {
  background-color: $color-body;
}

.n-component {
  background-color: $color-space;
  border: $color-light 1px solid;
  border-top-style: none;
  border-radius: 0px 0px 5px 5px;
  padding-top: $padding-med;
}

.n-alert {
  display: none;
  width: 400px;
  background-color: $color-dialog;
  border-color: $color-med-dark;
  -webkit-box-shadow: $drop-shadow;
  -moz-box-shadow: $drop-shadow;
  box-shadow: $drop-shadow;
}

textarea {
  margin-top: $padding-med;
}

//*****************************
// Header

.header {
  padding: 15px 0px 15px 0px;
  background-color: $color-dark;
}

.header .n-med-title-light {
  margin-top: 7px;
}

.header .dropdown-toggle {
  color: $color-med;
}

.header .nav {
  margin: 0px 0px 0px 0px;
}

//*****************************
// Tabs

.main-tabs-container {
  margin-top: 10px;
}

.main-tabs-container .nav {
  margin-bottom: 0px;
}

.main-tabs-container .nav-tabs>li {
  position: relative;
}

.main-tabs-container .nav-tabs>li.active a {
  background-color: $color-space;
}

.main-tabs-container .nav-tabs>li a {
  max-width: 100px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-right: 23px;
}

.main-tabs-container .nav-tabs>li div {
  top: 8px;
  right: 9px;
  position: absolute;
  display: inline-block;
  margin-left: 8px;
  font-size: 12px;
  color: $color-med;
}

.main-tabs-container .nav-tabs>li div:hover {
  color: $color-dark;
  cursor: pointer;
}

//*****************************
// Waveform editor

.wave-container {
  margin-top: $padding-med;
}

//*****************************
// Waveform search

.waveform-search {
  height: 600px;
}

.waveform-search .well {
  height: 600px;
  margin: 0px;
  padding: 0px;
  border-style: none;
  border-width: 0px;
  background-color: transparent;
  -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.05);
}

.wave-list-container {
  background-color: lighten($color-space, 1.1%);
  padding: 5px 20px 0px 20px;
  margin-top: 20px;
  margin-left: 44px;
  border-radius: 5px;
  height: 532px;
}

.wave-list-header-name, .wave-list-header-date {
  font-weight: bold;
}

.wave-list {
  margin-left: 0px;
  height: 485px;
  overflow: hidden;
  overflow-y: auto;
}

.wave-list-item, .wave-list-header {
  list-style-type: none;
  padding: 4px 0px 4px 0px;
  border-bottom: solid 1px $color-gray;
  white-space: nowrap;
  overflow: hidden;
}

.wave-list-header {
  border-bottom: 2px solid #fafafa;
}

.wave-list-item:hover {
  background-color: lighten($color-space, 0.05%);
  cursor: pointer;
}

.wave-list-name, .wave-list-date, .wave-list-header-name, .wave-list-header-date {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.wave-list-name, .wave-list-header-name {
  width: 430px;
}

.waveform-search-top-left {
  margin-left: 50px;
}

.waveform-search-top-left div {
  display: inline-block;
}

.waveform-search-top-left .n-med-title {
  vertical-align: middle;
}

.waveform-search-top-left .wave-search-box-container {
  margin-left: 17px;
}

.waveform-search-box {
  margin-left: 100px;
}

.waveform-search-refresh-container {
  margin-left: 91px;
}

.wave-item-selected {
  font-weight: bold;
  background-color: darken($color-space, 5%);
}

.wave-item-selected:hover {
  background-color: darken($color-space, 5%);
}

//*****************************
// Waveform viewer

.waveform-viewer-container.span6 .container {
  width: 800px;
}

.waveform-viewer-container .waveform-name-container div {
  display: inline-block;
}

.waveform-viewer-container .action-container {
  padding-top: 10px;
  border-top: solid $color-med 1px;
}

.waveform-viewer-container .action-container .btn-warning {
  margin-left: 31 px;
}

.waveform-viewer-container .action-container button {
  margin-left: 6px;
}

.waveform-viewer-container .dl-horizontal dd {
  margin-left: 102px;
}

.waveform-viewer-container dt {
  width: 90px;
}

.signal-trace-test-top {
  line-height: normal;
  margin: 20px auto 50px auto;
}

.signal-trace-test {
  margin-bottom:40px;

  .signal-trace-test-container {
    position: relative;

    .signal-trace-canvas {
      width: 600px;
      height: 100px;
      border: solid 1px #DDD;
    }
  }
}

.n-canvas {
  position: relative;
  display: block;
  width: 602px;
  height: 402px;
  border: solid 1px #DDD;
}

