$thin: 100;
$font-size-large: 40px;
$font-size-med: 22px;
$font-size-avg: 16px;
$font-size-text: 16px;
$font-size-small: 12px;
$helv-font: "Raleway", sans-serif;
$text-color: #000000;
$text-color-med: #888888;
$text-color-light: #cccccc;
$text-color-success: dodgerblue;
$text-color-error: #fa1e20;

$separator-color-light: #eeeeee;

$color-darkest: #153450;
$color-dark: #294052;
$color-med-dark: #447294;
$color-med: #8fbcdb;
$color-light: #f4d6bc;
$color-lightest: #f8e4cc;
$color-error: #eb881e;

//$color-space: #F8F2EA
$color-space: lighten($color-lightest, 9.5%);
$color-body: lighten($color-lightest, 11%);
$color-gray: gainsboro;
$color-light-gray: lighten($color-gray, 11%);
$color-dialog: lighten($color-lightest, 8.5%);

$drop-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2);

$placeholder-color: #dddddd;

input::-webkit-input-placeholder {
  color: $placeholder-color;
}

input:-moz-placeholder {
  color: $placeholder-color;
}

input::-moz-placeholder {
  color: $placeholder-color;
}

input:-ms-input-placeholder {
  color: $placeholder-color;
}

$padding-med: 20px;

@mixin title-base {
  font-weight: $thin;
  font-size: $font-size-med;
  font-family: $helv-font;
  color: $color-dark;
}

@mixin separator-border {
  margin-top: 15px;
  border-top: 1px solid $separator-color-light;
  padding-top: 15px;
}

@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
}

@mixin shadow() {
  -webkit-box-shadow: 5px 5px 15px 0px rgba(15, 15, 13, 0.03);
  -moz-box-shadow: 5px 5px 15px 0px rgba(15, 15, 13, 0.03);
  box-shadow: 5px 5px 15px 0px rgba(15, 15, 13, 0.03);
}

@mixin opacity($opacity) {
  -moz-opacity: $opacity;
  opacity: $opacity;
  filter: alpha(opacity=($opacity * 100));
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=" + ($opacity * 100) + ")";
  -khtml-opacity: $opacity;
}

@mixin animation($animation) {
  -webkit-animation: $animation;
  -moz-animation: $animation;
  -ms-animation: $animation;
  animation: $animation;
}

.n-large-title {
  @include title-base;
  font-size: $font-size-large;
  color: $color-darkest;
}

.n-large-title-light {
  @extend .n-large-title;
  color: $color-body;
}

.n-med-title {
  @include title-base;
  font-weight: normal;
  font-size: $font-size-med;
  color: $color-darkest;
}

.n-med-title-light {
  @extend .n-med-title;
  color: $color-body;
}

.n-small-title {
  @include title-base;
  font-size: $font-size-avg;
  padding-bottom: $padding-med;
}

//****************************
// Scrollbars in webkit on OS-X. They disappear...
ul::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 11px;
  height: 11px;
  background-color: $color-light-gray;
}

ul::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid white;
  background-color: lighten($color-med-dark, 40%);
}

//*****************************
// Inputs
.form-vertical input {
  display: block;
}

//*****************************
// Page
body {
  background-color: $color-body;

  .placeholder {
    color: $text-color-light;
  }
}

.fadex {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
}
.fadex.ng-enter,
.fadex.ng-leave {
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -o-transition: all 2s ease;
    transition: all 2s ease;
}
.fadex.ng-enter {
    opacity: 0;
}
.fadex.ng-enter {
    top: 100%;
}
.fadex.ng-enter-active {
    top: 0;
}
.fadex.ng-leave {
    top: 0;
}
.fadex.ng-leave-active {
    top: -100%;
}/*.fadex.ng-enter-active {
    opacity: 1;
}
.fadex.ng-leave {
    opacity: 1;
}
.fadex.ng-leave-active {
    opacity: 0;
}
*/
.n-component {
  background-color: $color-space;
  border: $color-light 1px solid;
  border-top-style: none;
  border-radius: 0px 0px 5px 5px;
  padding-top: $padding-med;
}

.n-alert {
  display: none;
  width: 400px;
  background-color: $color-dialog;
  border-color: $color-med-dark;
  -webkit-box-shadow: $drop-shadow;
  -moz-box-shadow: $drop-shadow;
  box-shadow: $drop-shadow;
}

.pi-error {
  border-color: $color-error;
}

.pi-body {
  .modal-dialog {
    .modal-header {
      padding: 4px 12px;
    }
    .modal-body {
      padding: 10px 12px;
    }
    .modal-footer {
      border-top: none;
      padding: 10px 12px;
    }
  }
}

.item-set {
  margin-bottom: 8px;
  height: 20px;
  .item-label {
    text-align: right;
  }
}

.footer-message {
  width: 335px;
  text-align: left;
  margin-top:14px;
  float: left;
  color: $text-color;
  &.success {
    color: dodgerblue;
  }
  &.error {
    color: #FA1E20;
  }
}

.tooltip.top {
  .tooltip-inner {
    background-color: #ffa500;
    color: white;
  }

  .tooltip-arrow {
    border-top-color: #ffa500;
  }
}

  //*****************************
  // Header

.header {
  padding: 0px 0px 0px 0px;
  background-color: $color-dark;

  .title {
    display: inline-block;
    font-size: 12px;
    vertical-align: top;
    margin-top:23px;
  }

  .current {
    color: $color-med;
    display: inline-block;
    vertical-align: top;
    margin-top: 4px;
    margin-right: 20px;
    font-size:30px;
  }

  .dropdown-toggle {
    color: $text-color;
    background-color: #E0E0E0;
    height: 33px;
    padding: 7px 15px;
    &:hover {
      color: $text-color;
      background-color: #E0E0E0;
    }
  }

  .menu-bar {
    float: right;
    ul.nav.nav-pills {
      margin: 7px 5px 0px 5px;
      display: inline-block;
    }
  }
}

//*****************************
// Tabs

.main-tabs-container {
  margin-top: 10px;
}

.main-tabs-container .nav {
  margin-bottom: 0px;
}

.main-tabs-container .nav-tabs>li {
  position: relative;
}

.main-tabs-container .nav-tabs>li.active a {
  background-color: $color-space;
}

.main-tabs-container .nav-tabs>li a {
  max-width: 100px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-right: 23px;
}

.main-tabs-container .nav-tabs>li div {
  top: 8px;
  right: 9px;
  position: absolute;
  display: inline-block;
  margin-left: 8px;
  font-size: 12px;
  color: $color-med;
}

.main-tabs-container .nav-tabs>li div:hover {
  color: $color-dark;
  cursor: pointer;
}

//*****************************
// Administration page
.administration {
  .admin-row {
    width:90%;
    margin-left: auto;
    margin-right: auto;
  }

  a {
    font-family: $helv-font;
    font-weight: 300;
    font-size: 18px;
  }

  .section-title {
    @include title-base;
    font-weight: normal;
    font-size: $font-size-med;
    color: $color-darkest;
    margin-bottom:8px;
  }

  .welcome {
    margin-top: 20px;
  }

  .database-admin-links {
    margin-top: 15px;
    .links {
      margin-left:25px;
    }
  }

  .database-current {
    margin-top: 40px;
    table {
      thead {
        tr {
          th {
            text-align: center;
          }
        }
        .description { width: 350px; }
        .host        { width: 150px; }
        .name        { width: 150px; }
        .accessible  { width: 50px; }
      }
    }
  }

}

.pi-dialog .modal-footer {
  margin-top: 15px;
  padding: 19px 20px 0px 20px;
}

.pi-dialog.create-database-dialog {
  max-width: 650px;
}

.pi-dialog.delete-database-dialog {
  .modal-wrap {
    width: 640px;
  }

  .dropdown .btn {
    text-align: left;
    width: 560px;
  }
  .item-set {
    margin-top:10px;

    .item-label {
      display: inline-block;
      width: 60px;
    }
    .item-value {
      margin-left: 10px;
      display: inline-block;
      width: 450px;
    }
  }
  .well {
    margin-top: 10px;
  }
  .footer-message {
    width: 310px;
  }
}


//*****************************
// Main page
.n {
 margin-top:100px;
}

//*****************************
// Signal graph controller

.test-top {
  line-height: normal;
  margin: 5px auto 30px auto;
}

.signal-trace-test {
  margin-bottom:40px;

  .signal-trace-test-container {
    position: relative;

    .signal-trace-canvas {
      width: 600px;
      height: 100px;
      border: solid 1px #DDD;
    }
  }
}

.pi-signal-builder {
  .pi-canvas {
    margin: 0px auto 0px auto;
    width: 300px;
    height: 50px;
  }
}

//*****************************
// Signal graph controller

.signal-graph-controls {
  border: 1px silver solid;
  padding: 20px;
  $background-color: #f8f7f6;

  .range-display {
    margin-bottom: 10px;
    div {
      display: inline-block;
    }
  }

  .range-display {
    .range-label {
      width: 81px;
    }
    .range-number {
      width:100px;
      text-align: center;
      border: solid 1px #EEE;
      margin-left:7px;
    }
  }

  .pan-slider {
    width: 200px;
    left: 50px;
  }

  .range-slider {
    margin-bottom: 10px;
    width: 300px;
    a.ui-slider-handle.ui-corner-all.ui-state-hover:hover,
    a.ui-slider-handle.ui-corner-all.ui-state-focus {
      background-image: none;
      background-color: $background-color;
      outline: 0;
    }
  }

  .pan-slider {
    visibility: hidden;
    a.ui-slider-handle.ui-corner-all,
    a.ui-slider-handle.ui-corner-all.ui-state-focus {
      visibility: visible;
      background-color: $background-color;
      margin-left: -50px;
      width: 100px;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: normal;
      color: #654b24;
      text-align: center;
      height: 23px;
      background-image: none;
      text-decoration: none;
      outline: 0;
    }

    a.ui-slider-handle.ui-corner-all.ui-state-hover:hover {
      visibility: visible;
      background-color: $background-color;
      text-decoration: none;
      background-image: none;
      color: #654b24;
    }
  }

  .ui-widget-header {
    background-image: none;
  }
}


//*****************************
// Canvas

.n-canvas {
  position: relative;
  display: block;
  width: 602px;
  height: 402px;
  border: solid 1px #DDD;
}

.row.pi-network-test {
  margin-bottom:50px;
}

.row.pi-neuron-test {
  margin-bottom:50px;
}

//*****************************
// Network scene

.pi-network-panel {
  .pi-canvas {
    height: 200px;
    padding: 0px 0px;
  }

  .pi-canvas-column {
    .path {
      margin: 5px 5px 5px 10px;
      color: gray;
      height: 20px;
    }
  }

  .pi-network-console {
    height: 200px;
    border: gray 1px solid;
    margin-left:30px;
  }
}

//*****************************
// Neuron scene

.pi-neuron-panel {
  .pi-canvas {
    height: 250px;
    padding: 0px 0px;
  }

  .pi-neuron-console {
    height: 250px;
    border: gray 1px solid;
    margin-left:30px;
  }
}

  //*****************************
  // Workbench scene

.pi-workbench-panel {
  .console {
    min-height: 250px;
    padding: 0px 0px;
    border: solid 1px $color-med;
    @include  shadow();

    .top-header {
      border-bottom: 1px solid lighten($text-color-light, 5%);
      padding: 10px 10px 10px 10px;
      height: 54px;

      .btn {
        display: inline-block;
        &.dropdown-toggle {
          width: 260px;
          text-align: left;
        }
        &.new-test {
          float: right;
        }
      }
      .dropdown {
        display: inline-block;
      }
      .no-tests {
        display: inline-block;
        color: $text-color-light;
        margin-top: 6px;
      }
    }
  }
}

.pi-workbench-test-panel {
  padding: 10px 10px;

.signal-inputs {
  table {
    thead {
      tr {
        th {
          text-align: center;
        }
      }
      .input     { width: 150px; }
      .type      { width: 65px; }
      .start     { width: 60px; }
      .duration  { width: 60px; }
      .amplitude { width: 75px; }
      .offset    { width: 65px; }
    }
  }
}
  .properties {

    .name {
      font-size: 15px;
      font-weight: bold;
    }

    .edit {
      float: right;
      font-size: 15px;
      margin-right: 20px;
    }

    .duration {
      margin-top:5px;
    }
  }

  .properties-edit {

  }

  .input-type-form {
    @include separator-border();
  }

  .run-test {
    @include separator-border();
    margin-top:12px;
    padding-left: 3px;
  }

  .add-input-signal {
    float: right;
  }
}

//*****************************
// Network scene

.pi-connection-test {
  .pi-network-panel {
    .pi-canvas {
      height: 500px;
      padding: 0px 0px;
    }

    .pi-canvas-column {
      .path {
        margin: 5px 5px 5px 10px;
        color: gray;
        height: 20px;
      }
    }

    .pi-network-console {
      height: 200px;
      border: gray 1px solid;
      margin-left:30px;
    }
  }

  button {
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1000;
  }
}

.pi-hover-path {
  margin: 6px 0px;
  span {
    display: inline-block;
    font: $helv-font;
    color: $text-color-med;
  }
  .action {
    min-width: 60px;
    color: $text-color-light;
  }
  .path {
    &.showing {
      opacity:1;
      transition: all 0.5s ease;
       -webkit-transition: all 0.5s ease;
    }
    &.blank {
      opacity:0;
      transition: all 0.5s ease;
       -webkit-transition: all 0.5s ease;
    }
  }
}

.pi-dialog {
  position: fixed;
  top: 0px;
  width: 100%;

  .overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    @include opacity(0.95);
    background-color: #f2f2f2;
  }

  .modal-wrap {
    @include animation(fadeIn 1s);
    position: relative;
    margin: 40px auto 100px auto;
    color: $text-color;
    background-color: #f2f2f2;
    padding: 20px;
    width: 960px;

    .modal-content {
      margin: 24px 0px;
    }

  }

  &.modal-wide {
    .modal-wrap {
      width: 960px;
    }
  }

  &.modal-medium {
    .modal-wrap {
      width: 780px;
    }
  }

  &.modal-narrow {
    .modal-wrap {
      width: 540px;
    }
  }

  &.modal-square {
    .modal-wrap {
      width: 400px;
      height: 400px;
    }
  }

  &.modal-square {
    .modal-wrap {
      width: 460px;
      height: 340px;
    }
  }

  .close {
    //@include size(16px, 16px);
    //@include pos-top-right(absolute, 8px, 12px);
    //@extend .icons-closebutton;
    margin: 4px 2px;
  }

}
