<div>

  <div class="dev-env">
    <div class="top-panel">
      <div class="shell">
        <div id="network-build-shell">
          <div id="network-build-shell-view">
          </div>
        </div>
      </div>
    </div>

    <div class="bottom-panel">
      <editors-panel expose-to-parent="editorPanel" signals="signals" source-files="sourceFiles">
      </editors-panel>
    </div>
  </div>

      <!--<dialog expose-to-parent="administrationDialog" class="pi-dialog modal-medium">-->
        <!--<div id="delete-database-dialog-content" class="delete-database dialog-content">-->
          <!--<div class="modal-body">-->
            <!--<administration></administration>-->
            <!--<div class="modal-footer">-->
              <!--<div class="footer-message" ng-bind="formMessage"></div>-->
              <!--<button type="button" class="btn btn-default" ng-click="closeAdministrationDialog()">Close</button>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</dialog>-->

    </div>
  </div>
</div>