<div class="pi-workbench-test-panel">
  <!-- Name and description display -->
  <div>
    <div class="properties row">
      <div class="edit">
        <a href="javascript:void(0)" ng-click="showPropertiesEdit()">Edit</a>
      </div>
      <div>
        <div class="item-label" ng-class="propertiesLabelWidth">Name:</div>
        <div ng-class="propertiesWidth" ng-if="test.name.length" >{{test.name}}</div>
        <div class="placeholder" ng-class="propertiesWidth" ng-if="test.name.length === 0">No name...</div>
      </div>
      <div>
        <div class="item-label" ng-class="propertiesLabelWidth">Description:</div>
        <div class="description" ng-class="propertiesWidth" ng-if="test.description.length">{{test.description}}</div>
        <div class="placeholder" class="description" ng-class="propertiesWidth" ng-if="test.description.length === 0">No description...</div>
      </div>
      <div class="duration">
        <div class="item-label" ng-class="propertiesLabelWidth">Duration:</div>
        <div ng-class="propertiesWidth">{{test.duration}} seconds</div>
      </div>
    </div>
  </div>

  <!-- Input signals builder display -->
  <div class="signal-inputs">
    <div class="add-input-signal" ng-show="test.inputSignals.length === 0">
      <a href="javascript:void(0)" ng-click="addInputSignal()">Add input signal</a>
    </div>
    <div ng-repeat="inputSignal in test.inputSignals">
      <form novalidate class="input-type-form form-horizontal" role="form">
        <div class="form-group">
          <label class="control-label" ng-class="labelWidth" for="signal-type">Signal type:</label>
          <div class="col-sm-10">
            <select class="form-control"  id="signal-type" ng-model="inputSignal.type" ng-options="inputType.type as inputType.name for inputType in inputTypes">
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" ng-class="labelWidth" for="start-time">Start time (sec):</label>
          <div class="col-sm-10">
            <input type="number" step="0.001" ng-model="inputSignal.start" class="form-control" id="start-time"/>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" ng-class="labelWidth" for="duration">Duration (sec):</label>
          <div class="col-sm-10">
            <input type="number" step="0.001" ng-model="inputSignal.duration" class="form-control" id="duration"/>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" ng-class="labelWidth" for="duration">Amplitude ({{ amplitudeUnits(inputSignal.type) }}):</label>
          <div class="col-sm-10">
            <input type="number" step="0.001" ng-model="inputSignal.duration" class="form-control" id="duration"/>
          </div>
        </div>
      </form>
    </div>

  </div>

  <!-- Name and description edit dialog -->
  <div class="properties-edit modal fade" pi-modal tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title">Modal title</h4>
        </div>
        <div class="modal-body">
          <form novalidate class="form-horizontal" role="form" name="testform">
            <div class="form-group">
              <label class="col-sm-4 control-label" for="test-name">Name:</label>
              <div class="col-sm-10">
                <input type="text"
                       tabindex="1"
                       class="form-control default-focus"
                       required id="test-name"
                       data-toggle="tooltip"
                       data-placement="top"
                       title="A unique name for the tool"
                       ng-model="propertiesCopy.name"
                       placeholder="Test name">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label" for="test-description">Description:</label>
              <div class="col-sm-10">
                <textarea class="form-control"
                          tabindex="2"
                          rows="3"
                          id="test-description"
                          data-toggle="tooltip"
                          data-placement="top"
                          title="Description of the test"
                          ng-model="propertiesCopy.description"
                          placeholder="Description"></textarea>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label" for="test-duration">Duration (s):</label>
              <div class="col-sm-10">
                <input type="text"
                       class="form-control"
                       tabindex="3"
                       id="test-duration"
                       data-toggle="tooltip"
                       data-placement="top"
                       title="Duration of the test, in seconds"
                       ng-model="propertiesCopy.duration"
                       placeholder="Duration (seconds)"/>
              </div>
            </div>
          </form>
        </div>

        <div class="modal-footer">
          <div class="footer-message" ng-bind="formMessage"></div>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" ng-click="saveProperties()">Save changes</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->

  </div>

  <!-- Input signal edit dialog -->
  <div class="input-signal-edit modal" tabindex="-1" role="dialog" aria-labelledby="inputSignalEdit" aria-hidden="true" >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title">Modal title</h4>
        </div>
        <div class="modal-body">
          <form novalidate class="form-horizontal" role="form">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdown-type-select" data-toggle="dropdown">
              {{ testNameFromId(selectedTestId) }}
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdown-type-select">
              <li ng-repeat="test in tests"><a ng-click="onTestSelect(test.id)" tabindex="-1" href="#">{{test.name}}</a></li>
            </ul>
            <div class="form-group">
              <label class="col-sm-4 control-label" for="test-name">Name:</label>
              <div class="col-sm-10">
                <input type="text"
                       class="form-control"
                       id="test-name"
                       ng-model="propertiesCopy.name"
                       placeholder="Test name">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label" for="test-description">Description:</label>
              <div class="col-sm-10">
                <textarea class="form-control" rows="3" id="test-description" ng-model="propertiesCopy.description" placeholder="Description"></textarea>
              </div>
            </div>
          </form>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" ng-click="saveProperties()">Save changes</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->

  </div>
</div>
