<div class="n-component">
  <div class="row">
    <div class="n-med-title span3 offset5">Timing editor</div>
  </div>
  <div>
    <div class="row">
      <div class="wave-container span5 offset6">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span8 offset5">
      <textarea class="span6" ng-model="waveText" name="timing-text" ng-change="change()"></textarea>
    </div>
  </div>
  <div class="row">
    <div class="span8 offset5">
    <form class="form-vertical">
    <fieldset>
      <input class="wave-name-input" type="text" ng-model="waveName" name="wave-name" placeholder="Waveform name"></input>
      <button type="submit" class="btn" ng-click="save()">Save</button>
    </fieldset>
  </form>
  </div>
  </div>
</div>