 <div class="waveform-viewer-container">
   <div>
     <div class="row">
       <dl class="dl-horizontal">
         <dt class="waveform-name-label">Name:</dt>
         <dd class="waveform-name">{{waveformName}}</dd>
         <dt>Date:</dt>
         <dd>{{waveformDate}}</dd>
         <dt>ID:</dt>
         <dd>{{waveformID}}</dd>
       </dl>
     </div>
     <div class="row">
       <div class="span3 action-container">
         <button class="btn" ng-click="deleteWaveform()">Edit</button>
         <button class="btn" ng-click="copyWaveform()">Make copy</button>
         <button class="btn btn-warning" ng-click="deleteWaveform()">Delete</button>
       </div>
     </div>
   </div>
   <div class="n-alert alert alert-block">
     <a class="close" data-dismiss="alert">×</a>
     <h4 class="alert-heading">Hmmmm</h4>
     <p>{{errorMessage}}</p>
     <p><a class="btn btn-info" ng-click="refresh()" href="javascript:void(0);">Retry</a></p>
   </div>
</div>
