<div class="n-component">
  <div class="row">
    <div class="n-med-title span3 offset2">Waveforms</div>
  </div>
  <div class="row">
    <div class="span6 offset2">
      <ul class="wave-list-container">
        <li class="wave-list-item" ng-repeat="waveformItem in waveformList">
          <div class="wave-list-name">
          {{waveformItem.name}}
          </div>
          <div class="wave-list-date">
          {{waveformItem.name}}
          </div>
        </li>
      </ul>
    </div>
  </div>
  
</div>