<div class="network-builder">
  <div class="container">
    <div class="row">
      <button class="btn" ng-click="openDialog()">Open</button>

      <dialog expose-to-parent="administrationDialog" class="pi-dialog modal-medium">
        <div id="delete-database-dialog-content" class="delete-database dialog-content">
          <div class="modal-body">
            <administration></administration>
            <div class="modal-footer">
              <div class="footer-message" ng-bind="formMessage"></div>
              <button type="button" class="btn btn-default" ng-click="closeAdministrationDialog()">Close</button>
            </div>
          </div>
        </div>
      </dialog>

    </div>
  </div>
</div>