<div class="network-builder">
  <div class="container">
    <div class="row">
      <button class="btn" ng-click="openDialog()">Open</button>

      <dialog class="n-dialog" expose-to-parent="administrationDialog" contents-template-id="builder-dialog-content" dialog-data></dialog>
      <div id="builder-dialog-content" class="dialog-content" ng-non-bindable>
        <div class="modal-body">
          <div class="message-container">
            <administration></administration>
          </div>
          <div class="button-container center">
            <button class="btn cancel" ng-click="cancel()">Close</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>