<div>
  <div class="administration">
    <div class="admin-row">
      <div class="database-admin-links">
        <div class="section-title">Database administration</div>
        <div class="links">
          <a href="javascript:void(0)" ng-click="showCreateDatabase()">Create a database</a>
        </div>
        <div class="links">
          <a href="javascript:void(0)" ng-click="showDeleteDatabase()">Delete a database</a>
        </div>
      </div>
    </div>
    <div class="admin-row">
      <div class="database-current">
        <div class="section-title">Current databases</div>
        <div>
          <table class="table table-bordered table-striped">
            <thead>
             <tr>
               <th class="description">Description</th>
               <th class="host">Host</th>
               <th class="name">Name</th>
               <th class="accessible">Accessible</th>
             </tr>
            </thead>
            <tbody>
             <tr ng-repeat="database in databaseList">
               <td>{{database.description}}</td>
               <td>{{database.url}}</td>
               <td>{{database.name}}</td>
               <td>{{database.accessible}}</td>
             </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- Create a database -->
    <dialog expose-to-parent="createDatabaseDialog" expose-form="createDbForm" class="pi-dialog modal-medium">
      <div id="create-database-dialog-content" class="dialog-content">
        <div class="modal-body">
          <div class="message-container">
            <form novalidate class="form-horizontal" role="form" name="createDbForm">
              <div class="form-group">
                <label class="col-sm-4 control-label" for="databaseurl">Database URL:</label>
                <div class="col-sm-10">
                  <input type="text"
                         name="databaseurl"
                         tabindex="1"
                         ng-class="{ 'pi-error': createDbForm.databaseurl.$invalid }"
                         class="form-control default-focus"
                         required
                         id="databaseurl"
                         data-toggle="tooltip"
                         data-placement="right"
                         title="The url of the couchDb, for example: http://127.0.0.1:5984"
                         ng-model="database.url"
                         placeholder="Database URL">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4 control-label" for="database-name">Name:</label>
                <div class="col-sm-10">
                  <input type="text"
                         class="form-control"
                         name="databasename"
                         tabindex="2"
                         ng-pattern="/^[a-z][a-z0-9_\$\(\)\+\-\/]*$/"
                         ng-class="{ 'pi-error': createDbForm.databasename.$invalid }"
                         id="database-name"
                         data-toggle="tooltip"
                         data-placement="right"
                         title="The name of the database, lower case a-z, 0-9, or _$()+-/ and must start with a letter."
                         ng-model="database.name"
                         placeholder="Database name"></textarea>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4 control-label" for="database-description">Description:</label>
                <div class="col-sm-10">
                  <input type="text"
                         class="form-control"
                         name="databasedescription"
                         tabindex="3"
                         ng-class="{ 'pi-error': createDbForm.databasedescription.$invalid }"
                         id="database-description"
                         data-toggle="tooltip"
                         data-placement="right"
                         title="The readable name of the database."
                         ng-model="database.description"
                         placeholder="Database description"></textarea>
                </div>
              </div>
            </form>
            <div class="well">
              A database is a place for storing and retrieving N simulation data. N uses CouchDB for the storage.
            </div>
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <div class="footer-message" ng-bind="formMessage" ng-class="formMessageType"></div>
        <button type="button" class="btn btn-default" ng-click="closeCreateDatabaseDialog()">Close</button>
        <button type="button" class="btn btn-primary" ng-click="createDatabase()">Create database</button>
      </div>
    </dialog>


    <dialog expose-to-parent="deleteDatabaseDialog" class="pi-dialog delete-database-dialog">
      <div id="delete-database-dialog-content" class="delete-database dialog-content">
        <div class="modal-body">
          <div class="message-container">
            <div class="dropdown databases">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdown-delete-select" data-toggle="dropdown">
                <span ng-show="databaseToDelete">{{ databaseToDelete.description }}</span>
                <span ng-hide="databaseToDelete" class="placeholder">Select database...</span>
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dropdown-delete-select">
                <li ng-repeat="database in databaseList"><a ng-click="selectedDeleteDatabase(database)" tabindex="-1" href="#">{{database.description}}</a></li>
              </ul>
            </div>
            <div class="item-set">
              <div class="item-label" ng-class="propertiesLabelWidth">Url:</div>
              <div class="item-value" ng-if="databaseToDelete" >{{databaseToDelete.url}}</div>
            </div>
            <div class="item-set">
              <div class="item-label" >Name:</div>
              <div class="item-value" ng-if="databaseToDelete">{{databaseToDelete.name}}</div>
            </div>
            <div class="well">
              A database is a place for storing and retrieving N simulation data. N uses CouchDB for the storage.
            </div>
          </div>
          <div class="modal-footer">
            <div class="footer-message" ng-bind="formMessage" ng-class="formMessageType"></div>
            <button type="button" class="btn btn-default" ng-click="closeDeleteDatabaseDialog()">Close</button>
            <button type="button" class="btn btn-primary" ng-click="deleteDatabase()">Delete database</button>
          </div>
        </div>
      </div>
    </dialog>

  </div>
</div>