<div class="pi-viewer">
  <div class="info-bar">
    <div ng-show="activeUI === null">
      <div class="type"><span class="info-label">Network: </span><span ng-bind="network.name"></span></div>
      <button class="btn" ng-click="traceEdit()">Trace edit</button>
    </div>
    <div ng-show="activeUI === 'traceEditor'">
      <trace-line-editor scene="view.scene" scene-signals="sceneSignals"></trace-line-editor>
    </div>
  </div>
  <div class="viewer">
    <div class="canvas-container">
      <pi-canvas class="network-canvas" pi-scene="view.scene" pi-padding="10" pi-trace-view canvas-origin="upper-left"></pi-canvas>
    </div>
  </div>
</div>