/*
Syntax error: Invalid CSS after ".": expected class name, was "[template] {"
        on line 19 of template.scss

14: @import '../../css/core.scss';
15: @import '../../css/mixins.scss';
16: @import '../../css/common.scss';
17: 
18: 
19: .[template] {
20:   display: block;
21: }

Backtrace:
template.scss:19
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.13/lib/sass/scss/parser.rb:1147:in `expected'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.13/lib/sass/scss/parser.rb:1085:in `expected'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.13/lib/sass/scss/parser.rb:1067:in `expr!'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.13/lib/sass/scss/parser.rb:710:in `class_selector'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.13/lib/sass/scss/parser.rb:672:in `simple_selector_sequence'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.13/lib/sass/scss/parser.rb:640:in `_selector'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.13/lib/sass/scss/parser.rb:619:in `selector'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.13/lib/sass/scss/parser.rb:603:in `selector_sequence'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.13/lib/sass/scss/parser.rb:528:in `ruleset'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.13/lib/sass/scss/parser.rb:553:in `block_child'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.13/lib/sass/scss/parser.rb:546:in `block_contents'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.13/lib/sass/scss/parser.rb:82:in `stylesheet'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.13/lib/sass/scss/parser.rb:27:in `parse'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.13/lib/sass/engine.rb:342:in `_to_tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.13/lib/sass/engine.rb:315:in `_render'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.13/lib/sass/engine.rb:262:in `render'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.13/lib/sass/plugin/compiler.rb:362:in `update_stylesheet'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.13/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.13/lib/sass/plugin/compiler.rb:201:in `each'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.13/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.13/lib/sass/plugin.rb:81:in `update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.13/lib/sass/exec.rb:443:in `watch_or_update'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.13/lib/sass/exec.rb:326:in `process_result'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.13/lib/sass/exec.rb:41:in `parse'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.13/lib/sass/exec.rb:21:in `parse!'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.13/bin/scss:13:in `<top (required)>'
/usr/bin/scss:23:in `load'
/usr/bin/scss:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \".\": expected class name, was \"[template] {\"\A         on line 19 of template.scss\A \A 14: @import '../../css/core.scss';\A 15: @import '../../css/mixins.scss';\A 16: @import '../../css/common.scss';\A 17: \A 18: \A 19: .[template] {\A 20:   display: block;\A 21: }"; }
